:root{
    --margin: 5px;
    --double-margin: 10px;
    --top-margin: 20px;
    --details-margin: 20px;
    --anchor-margin: 30px;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

main{
    background-color: white;
    margin: 0 auto;
    padding: var(--top-margin) var(--margin);
}

main > picture{
    text-align: center;
    display: block;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("/res/img/bg/retina_wood.png");
}

summary{
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    padding: var(--double-margin) 0 0 0;
    cursor: pointer;
}

main > details > summary{
    font-size: xx-large;
    margin: var(--double-margin) 0 0 0;
}

main > p{
    text-align: center;
}

details span{
    display: block;
    width: 30%;
    margin: var(--margin) 0 var(--double-margin) var(--anchor-margin);
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
}

h1{
    text-align: center;
}

main details{
    margin-left: var(--details-margin);
}

main details a{
    font-size: large;
    display: block;
    color: black;
    text-decoration: none;
    margin-top: var(--margin);
    margin-left: var(--anchor-margin);
}

details a:first-of-type{
    margin-top: var(--double-margin);
}

main details img{
    width: 16px;
    margin-right: var(--margin);
}

@media only screen and (min-width: 768px) {
    :root{
        --margin: 5px;
        --double-margin: 10px;
        --top-margin: 20px;
        --details-margin: 30px;
        --anchor-margin: 32px;
    }

    main{
        box-shadow: 10px 10px 25px 1px #a7a197;
        border-radius: 20px;
        width: 800px;
        margin: 0 auto 500px auto;
        padding: 25px 25px 50px 25px;
    }
    
    body{
        padding: 30px;
    }

    details span{
        margin: var(--margin) 0 var(--double-margin) var(--details-margin);
    }
}