@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap');

:root{
    --margin: 5px;
    --double-margin: 10px;
    --main-top-margin: 15px;
    --main-bottom-margin: 0px;
    --details-margin: 20px;
    --anchor-margin: 26px;

    --text-color: rgb(35, 34, 104);
}

* {
    font-family: 'Patrick Hand', cursive;
    box-sizing: border-box;
    font-size: x-large;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("/res/img/bg/lined_paper_yellow.png");
}

main{
    background-color: white;
    background-image: url("/res/img/bg/lined_paper_yellow.png");
    margin: var(--main-top-margin) auto var(--main-bottom-margin) auto;
    padding: var(--main-top-margin) var(--margin);
    color: var(--text-color);
}

main > picture{
    text-align: center;
    display: block;
}

header > h1{
    font-size: xxx-large;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0;
}

header p:first-of-type{
    margin: 0;
}

header p{
    text-align: center;
}

main details{
    margin-left: var(--details-margin);
}

main summary{
    margin: 0;
    padding: var(--margin) 0;
    
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

main > details > summary{
    padding: var(--double-margin) 0;
    
    font-size: xx-large;
}

main details span{
    display: block;
    width: 50%;
    margin: var(--double-margin) 0 var(--double-margin) var(--anchor-margin);

    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--text-color);
}

main details img{
    position: relative;
    top: -3px;
    vertical-align: middle;
    width: 16px;
    margin: 0 var(--margin);
    margin-right: var(--double-margin);
}

main details a{
    display: block;
    margin: var(--margin) 0 var(--margin) var(--anchor-margin);

    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}

@media only screen and (min-width: 768px) {

    :root{
        --main-top-margin: 20px;
        --main-bottom-margin: 500px;
    }

    body{
        position: relative;
        background-image: url("/res/img/bg/noisy_grid_blue.png");
    }

    main{
        position: relative;
        width: 768px;
        padding: 25px 25px 50px 25px;
        
        box-shadow: 
            10px 10px 25px 1px #060629a4,
            5px 0 0 0 #e4e4e4 inset;

        border-left: 60px solid #f4f4f4cb;
        border-radius: 5px 10px 10px 5px;
    }

    .vr{
        position: absolute;
        left: -37px;
        top: 0;
        height: 100%;
        opacity: 50%;
        border: 8px solid;
        border-image: url("/res/img/bg/border.png") 8 / 8px / 0 round;
    }
}